@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu' , sans-serif;
    min-height: 100px;
}

#welcome{
    padding-top: 100px;
    padding-bottom: 100px;  
}

#skills{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    margin-bottom: 0px;
}
