@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#welcome{
    padding-top: 4rem;
    padding-bottom: 4rem;  
}

#skills{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    min-height: 100px;
}

#text-anim{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#user {
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul{
   list-style-type: none;
   padding-left: 0px; 
}