@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#welcome{
    padding-top: 4rem;
    padding-bottom: 4rem;  
}

#skills{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    min-height: 100px;
}

#welcome{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    width: 24px;
    float: left;
    margin: 5px;
}